
<br><br>
<h3 style="padding-left: 5%;"><%= @user.name %></h3>
<% if @favorites.count > 0 %>
    <ul class="horizontal-slide" style=" height: 350px; width: calc(100vw - 390px)">
      <% @favorites.each do |f| %>
          <li class="span2">
            <small style="padding-left: 5px; color:#777777"><%= f.stream.name %></small>
            <a href="<%= '/'+f.stream.provider+'/'+f.stream.name %>" class="thumbnail" style="width: 320px; height: 180px;  border-color: transparent;
                background-color: transparent;">
              <img src="<%= f.stream.icon %>" alt="" />
            </a>
          </li>
      <% end %>
    </ul>
<% end %>
<div class="container" style="width: 377px; float: right; position: absolute; right: -15px; top: 5px;" >
  <div class="panel panel-default" style="width: 377px; padding-top: 45px; float: right">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-camera"></span> Recent messages, <a href='/logs/<%= @user.name %>'>see full message history</a>
    </div>
    <div id="panelchat" class="panel-body" style="height: calc(100vh - 50px)">
      <ul class="chat">
        <div id="messages">
          <% @messages.each do |m| %>
              <%= render 'messages/message', message: m %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>