<div id="main-wrap">
  <div id="sidebar" style="float:left; width:calc(100% - 300px); padding-top:48px">
    <% if @provider == 'twitch' %>
        <%= render 'streams/twitchstream' %>
    <% end %>
    <% if @provider == 'ustream' %>
        <div class="ustream" style="width:calc(100% - 300px)">
          <%= @stream["html"].html_safe %>
        </div>
    <% end %>
    <% if @provider == 'youtube' %>
        <%= render 'streams/youtube' %>
    <% end %>
    <% if @provider == 'azubu' %>
        <%= render 'streams/azubustream' %>
    <% end %>
  </div>
  <div style="float:right; width:278px; display: block;">
    <% if @provider == 'twitch' %>
        <div id="twitchchat">
          <%= render 'streams/twitchchat' %>
        </div>
    <% end %>
    <div id="omniscreen">
      <%= render 'streams/omnichat', messages: @messages %>
    </div>
  </div>
</div>