
<div id="main-wrap">
  <div id="sidebar" style="float:left; width:calc(100% - 300px); padding-top:48px">
    <% if @provider == 'twitch' %>
        <%= render 'streams/twitchstream' %>
    <% end %>
    <% if @provider == 'ustream' %>
        <div class="ustream" style="width:calc(100% - 300px)">
          <%= @stream["html"].html_safe %>
        </div>
    <% end %>
    <% if @provider == 'youtube' %>
        <%= render 'streams/youtube' %>
    <% end %>
    <% if @provider == 'azubu' %>
        <%= render 'streams/azubustream' %>
    <% end %>
  </div>
  <div id="content-wrap" style="float:right; width:300px;">
    <div class="tab-content">
      <div id="omnichat" class="tab-pane fade in active">
        <% if provider != 'twitch' %>
            <%= render 'streams/omnichat', messages: @messages %>
        <%else %>
            <%= render 'streams/twitchchat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>