<body style="padding-top: 50px;">
<p id="notice"><%= notice %></p>

<h1>Listing Societies</h1>
<div id="societyList" style="color:#eeeeee ; padding-left: 5%; width: 90%">
  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="">
        Name
      </th>
      <th style="">
      Abbreviation
    </th>
      <th style="">
        Description
      </th>
    </tr>
    </thead>
    <tbody>
    <% @societies.each do |society| %>
        <tr>
          <td> <%= link_to society.name, society_path(society) %> </td>
          <td style="color: red; padding-left: 1.5%;"> <%= society.abbreviation %> </td>
          <td> <%= society.description %></td>
          <td> <%= link_to 'Show', society_path(society) %> </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Society', new_society_path %>
</body>