<body style=" overflow-y:auto; padding-top: 50px; padding-left: 50px; color: lightskyblue;">
<% if @society.stream_id %>
    <div class="col-sm-2">
      <img style="width: 240px; padding-left: -4%; position:relative; right: 65px;" src="<%= Stream.find_by(id: @society.stream_id).icon %>"/>
    </div>
<% end %>
<div style="width: calc(100vw - 291px)">

  <h1><%= @society.name %> society</h1>
  <% if current_user && !current_user.societies.include?(@society) %>
      <%= form_tag 'join', method: :post do %>
          <input class="form-control" name="user_id" id="user_id" value="<%= current_user.id %>" type="hidden">
          <input class="form-control" id="society_id" name="society_id" value="<%= @society.id %>" type="hidden">
          <%= submit_tag "Join this Society", class: "btn btn-submit btn-xs", style: "color:black" %>
      <% end %>
  <% end %>

  <h5>Society established on <%= @society.created_at %> by <%= @society.user.name %></h5>
  <% if @society.stream_id %>
      <p>Favorite: <%= link_to(Stream.find_by(id: @society.stream_id).name, '/'+Stream.find_by(id: @society.stream_id).provider + '/' +Stream.find_by(id: @society.stream_id).name) %></p>
  <% end %>
  <h3>Current memberships:</h3>
  <h4>
    <% @users.each do |user| %>
        <%= link_to(user.name, user_path(user)) %>
    <% end %>
  </h4>
</div>

<% if current_user && current_user.societies.include?(@society) %>
    <div class="container" style="width: 377px; float: right; position: absolute; right: -15px; top: 5px;">
      <div class="panel panel-default" style="position:relative; top:50px; width: 377px; float: right" ;>
        <div class="panel-heading">
          <span class="glyphicon glyphicon-camera"></span> Recent messages,
          <a href='/logs/<%= @society.abbreviation %>'>see full message history</a>
        </div>
        <div id="panelchat" class="panel-body" style="height: auto">
          <ul class="chat">
            <div id="messages">
              <% @messages.each do |m| %>
                  <%= render 'messages/message', message: m %>
              <% end %>
            </div>
          </ul>
        </div>
      </div>
    </div>
<% else %>
    <span class="glyphicon glyphicon-camera"></span> You are not a member of this society, and you can not view the its
    message history</a>
    <div id="chatside" style="width: 290px; float:right; padding-top: 5px; position:relative; bottom: 200px;">
      <%= render 'streams/omnichat', messages: @chat %>
    </div>

<% end %>
</body>
