<%# add navigation links to this file %>
<li style="padding-right: 30px"><%= link_to 'Omnistrim', root_path, class: 'navbar-brand'  %></li>
<li><%= link_to 'Chat logs', logs_path %></li>
<% if current_user %>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <%= current_user.name %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'My page', user_path(current_user) %></li>
        <li><%= link_to 'Log out', '/signout' %></li>

      </ul>
    <li style="padding-top: 8px; padding-left: 12px;"><% if params[:name] && params[:provider] && !Favorite.find_by(user_id: current_user.id, stream:Stream.find_by(name:params[:name], provider:params[:provider]))%>
          <!--// IMPROVE THIS-->

          <div class="favoritebutton">
            <%= form_tag '/favorites/create', remote: true %>
            <input type="hidden" name="service" value="<%= @provider %>">
            <input type="hidden" name="channel" value="<%= params[:name] %>">
            <input type="submit" value="Favorite" class="btn btn-success btn-xs">
            </form>
          </div>
      <% end %>
        <!--<li style="padding-top: 8px; padding-left: 12px;"><button class="btn btn-success btn-xs" formmethod="post" remote="true">Favorite</button></li>-->
      </li>
      <li>
        <% if current_user.twitch.nil? %>
        <%= link_to 'Twitch Auth', 'https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=ht0ychka5fc2g0ao527ick5mjcvmob0&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Ftwitchauth%2F&scope=user_read+user_follows_edit' %>
        <% end %>
      </li>

<% else %>
    <li><%= link_to 'Sign in', signin_url %></li>
    <li><%= link_to 'Sign up', signup_url %></li>
<% end %>