<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Omnistrim" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <body>
    <%= yield %>
    <%= subscribe_to "/messages/public" %>
  </body>
  <%= render 'layouts/messages' %>
</html>
