<!DOCTYPE html>
<html style="height:100%">
<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Omnistrim" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Omnistrim" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="height:100%">
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main">
  <%= render 'layouts/messages' %>
  <div id="background" style="background-color: #000;height:100vh">
    <div>
      <%= yield %>
</main>
</body>
</html>
